<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Upload</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>
<body>
    <div id="upload-form">
        <form id="file-upload-form">
            <input type="file" id="file-input" name="file" accept=".txt, .pdf, .doc, .docx">
            <button type="button" id="upload-button" onclick="uploadFile()">Upload File</button>
        </form>
    </div>
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
</body>
</html>
