<div class="form-structor">
	<div class="signup slide-up">
		<h2 class="form-title" id="signup"><span>or</span>Sign up</h2>
		<h4 class="form-notification"></h4>
		<div class="form-holder", id="form-holder-signup">
			<input type="text" id="code" class="input" placeholder="Code" autocomplete="off"/>
			<input type="email" class="input" id="email" placeholder="Email" autocomplete="off"/>
			<input type="password" class="input" id="password" placeholder="Password" autocomplete="off"/>			
		</div>
		<button class="submit-btn signup-btn">Sign up</button>
	</div>
	<div class="login">
		<div class="center">
			<h2 class="form-title" id="login"><span>or</span>Log in</h2>
			<div class="form-holder" id="form-holder-login">
				<input type="email" class="input" id="email" placeholder="Email" />
				<input type="password" class="input" id="password" placeholder="Password" />
			</div>
			<button class="submit-btn login-btn">Log in</button>
			<h6 class="form-error"></h6>
		</div>
	</div>
</div>